BR2_aarch64=y
BR2_cortex_a76_a55=y
BR2_ROOTFS_POST_IMAGE_SCRIPT_ARGS="--cmdline console=tty0 --base 0x00000000 --kernel_offset 0x00008000 --ramdisk_offset 0x01000000 --second_offset 0x00000000 --tags_offset 0x00000100 --pagesize 4096"
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/sm7150-mainline/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="7e07271cadf3704378b6b0ae32fc9227c5cd58d3"
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(LINUX_DIR)/arch/arm64/configs/sm7150.config"
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_FREEDRENO=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_QCOM_ADRENO=y
BR2_PACKAGE_LINUX_FIRMWARE_QUALCOMM_3990_BT=y
BR2_PACKAGE_LINUX_FIRMWARE_ATHEROS_10K_WCN3990=y
BR2_PACKAGE_RMTFS=y
BR2_PACKAGE_TQFTPSERV=y
