BR2_aarch64=y
BR2_ROOTFS_POST_IMAGE_SCRIPT_ARGS="--cmdline console=tty0 --kernel_offset 0x00008000 --ramdisk_offset 0x0100000 --second_offset 0x00f00000 --tags_offset 0x00000100"
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/sm7150-mainline/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="d73a3b679418c3b4a39844298f22e64c73459adf"
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(LINUX_DIR)/arch/arm64/configs/sm7150.config"
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_FREEDRENO=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_QCOM_ADRENO=y
BR2_PACKAGE_LINUX_FIRMWARE_QUALCOMM_3990_BT=y
BR2_PACKAGE_LINUX_FIRMWARE_ATHEROS_10K_WCN3990=y
