BR2_LINUX_KERNEL_INTREE_DTS_NAME="qcom/sm7150-xiaomi-sweet"
BR2_PACKAGE_FIRMWARE_SWEET=y
BR2_PACKAGE_DEVICEINFO_INFO="corner_radius=15,display_cutout=center,name=Redmi Note 10 Pro,codename=sweet,manufacturer=xiaomi"
